<h3>EDITAR UN INMUEBLE</h3>
<div class="container">
  <div class="row vh-100 justify-content-center p-2">
    <div class="col-auto">
      <form action="" method="post">
        <p>
          Tipo de operación:
          <select
            [(ngModel)]="ngDropdownOperacion"
            name="tipoOperacion"
            id="tipoOperacion"
          >
            <option [value]="option.value" *ngFor="let option of operacion">
              {{ option.viewValue }}
            </option>
          </select>
        </p>
        <p>País: <input type="text" /></p>
        <p>Zona: <input type="text" /></p>
        <p>Área: <input type="text" /></p>
        <p>Tipo de inmueble: <input type="text" /></p>
        <p>Precio: <input type="number" /></p>
        <p>
          <input type="submit" class="btn btn-success w-100" value="Guardar" />
        </p>
      </form>
    </div>
  </div>
</div>
