.casa {
  width: 100%;
  height: 500px;
}
.carousel-inner {
  max-height: 500px;
}

#local {
  background: #f3f3f3;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50%;
  margin-left: 100px;
}

.message{
  background-color: #1b2a4e;
  color: #f3f3f3;
}

@media (max-width: 1200px) {
  #local {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  #intro #detalle {
    width: 90% !important;
  }
}
