<section class="my-5">
  <div class="w-75 m-auto text-center" id="equipo">
    <div id="local">
      <div class="casa border border-2"></div>
      <div class="wrapper border border-2">
        <h4>Características</h4>
        <p class="text-body">
          Estamos ubicados cerca de la Universidad Politécnica de Madrid, sitio
          estratégico por la cantidad de estudiantes que pasan a nuestro
          alrededor y son propensos a alquilar pisos por la zona
        </p>
      </div>
    </div>
  </div>
  <div class="w-75 m-auto text-center" id="equipo">
    <div id="local">
      <div class="wrapper border border-2">
        <h4>Descripción</h4>
        <p class="text-body">
          Estamos ubicados cerca de la Universidad Politécnica de Madrid, sitio
          estratégico por la cantidad de estudiantes que pasan a nuestro
          alrededor y son propensos a alquilar pisos por la zona
        </p>
      </div>
      <div class="wrapper border border-2">
        <p class="text-body">
          Estamos ubicados cerca de la Universidad Politécnica de Madrid, sitio
          estratégico por la cantidad de estudiantes que pasan a nuestro
          alrededor y son propensos a alquilar pisos por la zona
        </p>
        <a
          href="mailto:christian.diez9558@gmail.com"
          class="btn btn-primary w-100 fs-5"
          >Pedir presupuesto</a
        >
      </div>
    </div>
  </div>
</section>
