<div class="container" style="width: 40% ;">

  <h4 class="mt-3">Formulario para alta de nuevo inmueble</h4>
  <form [formGroup]="inmuebleFormulario" (ngSubmit)="enviarDatosNuevoInmueble">
    <div class="form-group">

      <label for="operacion" class="mt-1">Tipo de Operación</label>
      <select name="operacion" id="operacion" class="form-control mt-1">
        <option value="Venta">Venta</option>
        <option value="Alquiler">Alquiler</option>
        <option value="Venta-Alquiler">Venta-Alquiler</option>
      </select>

      <label for="pais" class="mt-1">País</label>
      <input type="text" class="form-control mt-1" id="pais" placeholder="País">

      <label for="zona" class="mt-1">Zona</label>
      <input type="text" class="form-control mt-1" id="zona" placeholder="Zona">
      
      <label for="area" class="mt-1">Área</label>
      <input type="text" class="form-control mt-1" id="area" placeholder="Área">

      <label for="inmueble" class="mt-1">Tipo de Inmueble</label>
      <select name="inmueble" id="inmueble" class="form-control mt-1">
        <option value="Vivienda">Vivienda</option>
        <option value="Local">Local</option>
        <option value="Garaje">Garaje</option>
      </select>

      <label for="precio" class="mt-1">Precio</label>
      <input type="number" class="form-control mt-1" id="precio" placeholder="Precio">

      <button type="submit" class="btn mt-3" style="width: 100%;" (click)="enviarDatosNuevoInmueble()">Enviar</button>

    </div>
  </form>

</div>
   

