<div class="container mt-3">
  <h4>Listado de favoritos</h4>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Tipo de operación</th>
        <th>País</th>
        <th>Zona</th>
        <th>Área</th>
        <th>Tipo de inmueble</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inmueble of listaInmuebles">
        <td>{{ inmueble.tipoOperacion }}</td>
        <td>{{ inmueble.pais }}</td>
        <td>{{ inmueble.zona }}</td>
        <td>{{ inmueble.area }}</td>
        <td>{{ inmueble.tipoInmueble }}</td>
        <td>{{ inmueble.precio | currency : "EUR" }}</td>
        <td>
          <a routerLink="detalle" class="linea btn more mx-1"
            >Más información</a
          >
          <button type="button" class="btn btn-danger">
            <i class="bi bi-trash3"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
