
/* MEDIA QUERIES PANTALLA ANCHA */

@media (max-width: 1200px) {
}

/* MEDIA QUERIES PANTALLA SM */

@media (max-width: 768px) {
  .filtro-fila {
    width: 100% !important;
    text-align: center;
  }
}

/* MEDIA QUERIES PANTALLA EXTRA-SM */

@media (max-width: 576px) {
  .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  th{
    font-size: 0.75rem;
  }
}
