<table class="table">
  <tbody>
    <tr>
      <th>Tipo de operación</th>
      <th>País</th>
      <th>Zona</th>
      <th>Área</th>
      <th>Tipo de inmueble</th>
    </tr>
    <tr>
      <td>
        <select
          [(ngModel)]="ngDropdown"
          name="dropdownOption"
          id="dropdownOptionType"
          class="form-control"
        >
          Seleccione una opción
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </td>
      <td>
        <select
          [(ngModel)]="ngDropdown"
          name="dropdownOption"
          id="dropdownOptionCountry"
          class="form-control"
        >
          Seleccione una opción
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </td>
      <td>
        <select
          [(ngModel)]="ngDropdown"
          name="dropdownOption"
          id="dropdownOptionZone"
          class="form-control"
        >
          Seleccione una opción
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </td>
      <td>
        <select
          [(ngModel)]="ngDropdown"
          name="dropdownOption"
          id="dropdownOptionArea"
          class="form-control"
        >
          Seleccione una opción
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </td>
      <td>
        <select
          [(ngModel)]="ngDropdown"
          name="dropdownOption"
          id="dropdownOptionType2"
          class="form-control"
        >
          Seleccione una opción
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </td>
      <td>
        <button class="btn btn-info">Aplicar filtro</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="grid">
  <div class="card" style="width: 18rem" *ngFor="let card of numeros">
    <img class="card-img-top" src="..." alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
