<div hidden>
  <ul *ngFor="let usuario of listaUsuarios">
    <li>{{ usuario.usuarioId }}</li>
    <li>{{ usuario.email }}</li>
    <li>{{ usuario.nombre }}</li>
    <li>{{ usuario.contrasena }}</li>
    <li>{{ usuario.rol }}</li>
  </ul>
</div>

<div class="login">
  <form [formGroup]="loginFormulario" class="custom-form" (ngSubmit)="login()">
    <h1>Login</h1>
    <input
      type="email"
      id="email"
      formControlName="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      id="contrasena"
      formControlName="contrasena"
      name="contrasena"
      placeholder="Contraseña"
      required="required"
    />
    <button type="submit" (click)="login()">Log in</button>
    <a
      class="nav-link"
      routerLinkActive="router-link-active"
      routerLink="registro"
      >Registrarse</a
    >
    <a
      class="nav-link"
      routerLinkActive="router-link-active"
      routerLink="password"
      >He olvidado la contraseña</a
    >
  </form>
</div>
