<div class="container mt-3">
  <h4>Listado de inmuebles</h4>
  <button type="button" class="btn btn-sm mt-3" (click)="nuevoInmueble()">Nuevo inmueble</button>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Tipo de operación</th>
        <th>País</th>
        <th>Zona</th>
        <th>Área</th>
        <th>Tipo de inmueble</th>
        <th>Precio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inmueble of listaInmuebles">
        <td>{{ inmueble.tipoOperacion }}</td>
        <td>{{ inmueble.pais }}</td>
        <td>{{ inmueble.zona }}</td>
        <td>{{ inmueble.area }}</td>
        <td>{{ inmueble.tipoInmueble }}</td>
        <td>{{ inmueble.precio }}</td>
        <td>
          <a routerLink="editar-inmueble" class="linea btn more mx-1"><i class="bi bi-pencil"></i>Editar</a>
          <button type="button" class="btn btn-danger" (click)="eliminarInmueble(inmueble.inmuebleId)"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
